<div id='collection-component-1636146079028'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'heirloom-brand.myshopify.com',
      storefrontAccessToken: '61e3da6e62487cc4560c31f68220a4d6',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '339314999551',
        node: document.getElementById('collection-component-1636146079028'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        }
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal",
        "color": "#333533"
      },
      "button": {
        "font-family": "Raleway, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "color": "#fff7f0",
        ":hover": {
          "color": "#fff7f0",
          "background-color": "#2e302e"
        },
        "background-color": "#333533",
        ":focus": {
          "background-color": "#2e302e"
        },
        "border-radius": "0px",
        "padding-left": "60px",
        "padding-right": "60px"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold",
        "color": "#333533"
      },
      "compareAt": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold",
        "color": "#333533"
      },
      "unitPrice": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold",
        "color": "#333533"
      }
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Raleway, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "color": "#fff7f0",
        ":hover": {
          "color": "#fff7f0",
          "background-color": "#2e302e"
        },
        "background-color": "#333533",
        ":focus": {
          "background-color": "#2e302e"
        },
        "border-radius": "0px",
        "padding-left": "60px",
        "padding-right": "60px"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Raleway"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "styles": {
      "button": {
        "font-family": "termina, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "color": "#fff7f0",
        ":hover": {
          "color": "#fff7f0",
          "background-color": "#2e302e"
        },
        "background-color": "#333533",
        ":focus": {
          "background-color": "#2e302e"
        },
        "border-radius": "0px"
      },
      "title": {
        "color": "#333533"
      },
      "header": {
        "color": "#333533"
      },
      "lineItems": {
        "color": "#333533"
      },
      "subtotalText": {
        "color": "#333533"
      },
      "subtotal": {
        "color": "#333533"
      },
      "notice": {
        "color": "#333533"
      },
      "currency": {
        "color": "#333533"
      },
      "close": {
        "color": "#333533",
        ":hover": {
          "color": "#333533"
        }
      },
      "empty": {
        "color": "#333533"
      },
      "noteDescription": {
        "color": "#333533"
      },
      "discountText": {
        "color": "#333533"
      },
      "discountIcon": {
        "fill": "#333533"
      },
      "discountAmount": {
        "color": "#333533"
      },
      "cart": {
        "background-color": "#fff7f0"
      },
      "footer": {
        "background-color": "#fff7f0"
      }
    },
    "text": {
      "title": "CART",
      "total": "Subtotal",
      "notice": "All orders include a set of four recipe cards.",
      "button": "Checkout"
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Raleway, sans-serif",
        "background-color": "#333533",
        ":hover": {
          "background-color": "#2e302e"
        },
        ":focus": {
          "background-color": "#2e302e"
        }
      },
      "count": {
        "font-size": "16px",
        "color": "#fff7f0",
        ":hover": {
          "color": "#fff7f0"
        }
      },
      "iconPath": {
        "fill": "#fff7f0"
      }
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#333533"
      },
      "title": {
        "color": "#333533"
      },
      "price": {
        "color": "#333533"
      },
      "fullPrice": {
        "color": "#333533"
      },
      "discount": {
        "color": "#333533"
      },
      "discountIcon": {
        "fill": "#333533"
      },
      "quantity": {
        "color": "#333533"
      },
      "quantityIncrement": {
        "color": "#333533",
        "border-color": "#333533"
      },
      "quantityDecrement": {
        "color": "#333533",
        "border-color": "#333533"
      },
      "quantityInput": {
        "color": "#333533",
        "border-color": "#333533"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>