<div class="row">
  <div class="col-md-4 text-center">
    <div class="bg-image aspect-16x9" style="background-image: url('https://via.placeholder.com/768x400')">
    </div>
    <h4 class="mt-5">Cocktail Name</h4>
  </div>
  <div class="col-md-4 text-center">
    <div class="bg-image aspect-16x9" style="background-image: url('https://via.placeholder.com/768x400')">
    </div>
    <h4 class="mt-5">Cocktail Name</h4>
  </div>
  <div class="col-md-4 text-center">
    <div class="bg-image aspect-16x9" style="background-image: url('https://via.placeholder.com/768x400')">
    </div>
    <h4 class="mt-5">Cocktail Name</h4>
  </div>
</div>