<div class="row">
  <div class="col-md-4 text-center">
    <a href="#">
      <div class="bg-image aspect-4x3" style="background-image: url('https://via.placeholder.com/768x400')">
      </div>
      <h4 class="mt-5">Cocktail Name</h4>
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a href="#">
      <div class="bg-image aspect-4x3" style="background-image: url('https://via.placeholder.com/768x400')">
      </div>
      <h4 class="mt-5">Cocktail Name</h4>
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a href="#">
      <div class="bg-image aspect-4x3" style="background-image: url('https://via.placeholder.com/768x400')">
      </div>
      <h4 class="mt-5">Cocktail Name</h4>
    </a>
  </div>
</div>