<footer id="page-footer" class="page-footer bg-scalloped scalloped-dark">
  <section>
    <div class="container">
      <div class="row bg-dark">
        <div class="col-12 d-flex justify-content-center">
          <div class="content text-center">
            <img class="img-fluid footer-logo" src="/assets/img/wordmark-light.png" alt="{{ site.title }}"/><br>
            <div class="social d-flex align-items-center justify-content-center">
              <a href="{{ site.instagram_url }}" title="@heirloomliqueurs" target="_blank">
                <i class="icon-instagram"></i>
              </a>
              <a href="{{ site.facebook_url }}" target="_blank" title="">
                <i class="icon-facebook2"></i>
              </a>
            </div>  
            <a href="mailto:{{ site.email }}" title="{{ site.email }}" class="footer-email">
              {{ site.email }}
            </a><br>
            <span class="termina">Inquiries</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>  