<footer id="page-footer" class="page-footer bg-scalloped scalloped-dark">
  <div class="row bg-dark">
    <div class="col-12 d-flex justify-content-center">
      <div class="py-5">
        <div class="content text-center">
          <img class="img-fluid" src="/assets/img/wordmark-light.png" alt="{{ site.title }}"/><br>
          <div class="social d-flex align-items-center justify-content-center">
            <a href="{{ site.instagram_url }}" title="@heirloomliqueurs">
              <i class="icon-instagram"></i>
              instagram
            </a>
            <a href="{{ site.facebook_url }}" title="">
              <i class="icon-facebook"></i>
              facebook
            </a>
          </div>  
            <a href="mailto:{{ site.email }}" title="{{ site.email }}">
              {{ site.email }}<br>
              Inquiries
            </a> 
          </div>
           
        </div>
      </div>      
    </div>
  </div>
  <!-- <div class="row slide">
    <div class="col-12 bg-scalloped"></div>
    <div class="col-12 d-flex justify-content-center">
      <div class="py-5">
        <div class="content text-center">
          
  
          <img class="img-fluid" src="/assets/img/wordmark-light.png" alt="{{ site.title }}"/><br>
          
          <div class="social d-flex align-items-center justify-content-around">
              <a href="{{ site.instagram_url }}" title="@heirloomliqueurs">
                <i class="icon-instagram"></i>
              </a>
              <a href="{{ site.facebook_url }}" title="">
                <i class="icon-facebook"></i>    
              </a>
          </div>
          <a href="mailto:{{ site.email }}" title="{{ site.email }}">
            <span class="rift">{{ site.email }}</span><br>
            <h5>Inquiries</h5>
          </a>  
        </div>
      </div>      
    </div>
  </div> -->
</footer>  