<footer id="page-footer" class="page-footer bg-scalloped scalloped-dark">
  <section>
    <div class="container">
      <div class="row align-items-center bg-dark">
        <div class="col-12 col-lg-6">
          <div class="content">
            <img class="img-fluid footer-logo mb-5" src="/assets/img/wordmark-light.png" alt="{{ site.title }}"/><br>
            <a href="mailto:{{ site.email }}" title="{{ site.email }}" class="footer-email">
              {{ site.email }}
            </a>
            <p class="termina">Inquiries</p>
            <div class="social mt-5">
              <a href="{{ site.instagram_url }}" title="@heirloomliqueurs" target="_blank">
                <i class="icon-instagram"></i>
              </a>
              <a href="{{ site.facebook_url }}" target="_blank" title="">
                <i class="icon-facebook2"></i>
              </a>
            </div>  
            
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <img src="/assets/img/spirits-enlivened-2.png" class="img-fluid" alt="Spirits Enlivened Image" />
        </div>
      </div>
    </div>
  </section>
</footer>  