<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/"><img src="/assets/img/logo.svg" alt="{{ site.title }} Logo"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar close-one"></span>
        <span class="bar close-two"></span>
        <span class="bar close-three"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="navbar-nav animate fade-in">
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/collection/' %} active{% endif %}" href="/collection">Collection {% if page.url == '/collection/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link{% if page.url == '/recipes/' %} active{% endif %}" href="/recipes">Recipes {% if page.url == '/recipes/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item dropdown d-md-none">
            <a class="nav-link dropdown-toggle{% if page.url == '/recipes/' %} active{% endif %}" href="/recipes" data-toggle="dropdown">
              Recipes {% if page.url == '/recipes/' %}<span class="sr-only">(current)</span>{% endif %}
            </a>  
            <div class="dropdown-menu">
                <a href="/recipes#signatures" class="dropdown-item">Signature Cocktails</a>
              {% for object in site.data.liqueurs.products %}
                {% assign object_slug = object | remove: '/products/' %}
                {% assign product =  site.products | where: 'slug', object_slug | first %}
                <a href="/recipes#{{ product.slug }}" class="dropdown-item">{{ product.title }}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/about/' %} active{% endif %}" href="/about">About {% if page.url == '/about/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/contact/' %} active{% endif %}" href="/contact">Contact {% if page.url == '/collection/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
