#page-header {
  background-color: $genepy;
  padding: 50px 0;
  .navbar-brand {
    img {
      width: 70px;
    }
  }
  .nav-link {
    font-family: $headings-font-family;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $khaki;
    letter-spacing: 1px;
    padding: 0 20px;
    @include transition(.5s);
    &:hover, &.active {
      color: $black;
    }
  }
}
