footer {
  position: relative;
  background-color: $dark;
  color: $gray-100;
  .slide {
    position: absolute;
    width: calc(100% + 30px);
    bottom: 0;
    transform: translateY(100%);
    @include transition(1s);
    &.active {
      transform: translateY(0%);
    }
  }
  a {
    color: $gray-600;
    font-family: $secondary-font;
    @include transition(.5s);
    text-decoration: none;
    &:hover {
      color: $light;
    }
  }
}

.social {
  margin: 30px 0;
  a {
    color: $khaki;
    padding: 20px 25px;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
}

@media (max-width: $screen-sm-min) {
  footer {
    .slide {
      &.active {
        .bg-light {
          height: 380px;
        }
      }
    }
  }
}
