.collection-row {
  .bg-image {
    height: 100%;
  }
  .flex-center-center {
    .content {
      padding: 50px 30px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .collection-row {
    .flex-center-center {
      .content {
        width: 65%;
      }
    }
  }
}