.recipe-details {
  padding: 40px 30px;
  h1 {
    margin-bottom: 0;
  }
  .rift {
    color: $gray-600;
  }
}

.recipe-ingredients {
  ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: 200;
    li {
      display: flex;
      margin-bottom: 3px;
    }
    .ingredient-qty {
      display: inline-block;
      width: 35%;
    }
    .ingredient-name {
      display: inline-block;
      width: 80%;
    }
  }
}

.related-recipes {
  .recipe-card {
    @extend .col-md-4;
    text-align: center;
  }
  .recipe-image {
    padding-top: 75%;
  }
}

.recipe-instructions {
  font-weight: 200;
}

@media (min-width: $screen-md-min) {
  .recipe-details {
    padding: 75px;
  }
}