#recipes-intro {
  h4 {
    color: $khaki;
  }
}

.recipe-nav-wrapper {
  display: none;
}

#recipe-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-transform: uppercase;
    color: $white;
    font-family: $secondary-font;
    font-size: 24px;
    letter-spacing: 1px;
    @include transition(.5s);
    &:hover {
      text-decoration: none;
      color: $dark;
    }
  }
}

.recipe-grid {
  .recipe-card {
    display: block;
    padding: 10px;
    border-bottom: 1px solid $gray-600;
    &:hover {
      .recipe-title {
        color: $khaki;
      }
    }
  }
  .bg-image {
    display: none;
  }
  .recipe-title {
    font-family: $secondary-font;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
    color: $gray-600;
    @include transition(.5s);
  }
}

@media (min-width: $screen-md-min) {
  .recipe-nav-wrapper {
    display: block;
    background-color: $khaki;
    padding: 30px 0;
  }

  .recipe-grid {
    .recipe-card {
      display: block;
      padding: 30px;
      border-bottom: 0;
      &:hover {
        text-decoration: none;
      }
    }
    .bg-image {
      display: block;
    }
    .recipe-title {
      font-family: $secondary-font;
      font-size: 20px;
      letter-spacing: 2px;
      margin-top: 20px;
      color: $gray-600;
    }
  }
}