body.recipes {
  padding-top: 127px;
  @include media-breakpoint-down(sm) {
    padding-top: 88px;
  }
}

#recipes-hero {
  padding-top: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

#recipes-intro {
  h4 {
    color: $khaki;
  }
}

.subnav {
  position: fixed;
  top: 0;
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
  display: block;
  background-color: $khaki;
  width: 100%;
  z-index: 9;
  top: 88px;
  left: 0;
  .nav {
    padding: 4px 30px 4px 15px;
  }
  @include transition(.6s);
  // &.subnav-fixed {
  //   position: fixed;
    
  //   top: 0;
  //   left: 0;
    
  //   transform: translateY(88px);
  // }
  @include media-breakpoint-down(sm) {
    display: none;
  }
  .nav-recipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-transform: uppercase;
      color: $white;
      font-family: $secondary-font;
      font-size: 22px;
      letter-spacing: 1px;
      @include transition(.5s);
      &:hover {
        text-decoration: none;
        color: $dark;
      }
    }
  }
}

.recipe-grid {
  .recipe-card {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $gray-600;
    &:hover {
      .recipe-title {
        color: $khaki;
      }
    }
  }
  .bg-image {
    display: none;
  }
  
}

.recipe-title {
  font-family: $secondary-font;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  color: $gray-600;
  @include transition(.5s);
}

@media (min-width: $screen-md-min) {

  .recipe-grid {
    .recipe-card {
      width: 25%;
      display: block;
      padding: 30px;
      border-bottom: 0;
      &:hover {
        text-decoration: none;
      }
    }
    .recipe-image {
      display: block;
      padding-top: 100%;
    }
    .recipe-title {
      font-family: $secondary-font;
      font-size: 20px;
      letter-spacing: 2px;
      margin-top: 20px;
      color: $gray-600;
    }
  }
}