body {
  color: $body-color;
}

section {
  padding: 75px 0;
  @include media-breakpoint-up(md) {
    padding: 120px 0;
  }
}

a {
  color: $link-color;
  &:hover {
    color: $dark;
    text-decoration: none;
  }
}

p {
  line-height: 2rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

::selection {
  background: $yellow-mid;
  opacity: 1;
}
