.bg-hero {
  position: relative;
  height: 0;
  padding-top: 60%;
  margin-right: -15px;
  margin-left: -15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &.hero-short {
    padding-top: 75%;
  }
  &.hero-border {
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url('/assets/img/hero-border.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    font-size: 40px;
  }
 
  img {
    opacity: 0;
    @include transition(.5s);
  }
  > div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: $screen-md-min) {
  .bg-image {
    &.hero-short {
      padding-top: 40%;
    }
  }
}

