.products {
  width: 100%;
  > div {
    position: relative;
    height: 0;
    padding-top: 75%;
    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;   
      border-left: 15px solid $true-black;
      opacity: .5;
      position: absolute;
      top: 50%;
      right: 35px;
      margin-top: -10px;
    }
    &.copy-block {
      height: auto;
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .copy-content {
        padding: 75px;
      }
    }
    .product {
      display: none;
    }
  }
}

.wf-active {
  .bg-hero {
    img {
      opacity: 1;
    }
  }
}


@media (min-width: $screen-md-min) {
  .products {
     > div {
       padding-top: 50%;
       &::after {
        display: none;
      }
       .product {
        opacity: 0;
        position: absolute;
        background: $white;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(0.5s);
        &:hover {
          opacity: 1;
        }
        img.bottle {
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
        }
        
      }
     }
  }
}

@media (max-width: $screen-sm-min) {
  .w-50 {
    width: 100% !important;
  }
  .bottle {
    transform: translateX(50%);
  }
}