#rotator {
  height: 2000px;
  font-size: 416px;
  width: 1em;
  height: 1em;
  position: sticky;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}