---
layout: default
---

<section class="bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <h5>Lorem Cocktailname</h5>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, delectus dolorem rem, eius voluptate itaque consequatur dolore eligendi repellat mollitia sit quaerat fugit placeat. Architecto eligendi voluptatem delectus vitae sed!</p>
        <a href="#" class="btn">Buy Now</a>
      </div>
      <div class="col-12 col-lg-5 ml-lg-auto">
        <img src="https://picsum.photos/400/600" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable lead">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, veniam.</p>
        </div>
        
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus laudantium, dolorem deserunt laboriosam placeat quis assumenda ipsum, dolore, provident odit ea distinctio. Id tempore perferendis dolores. Nesciunt impedit ipsum quidem.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row collection-row no-gutters">
    <div class="col-lg-6">
      <a href="#">
        <div class="bg-image aspect-1x1" style="background-image: url(https://picsum.photos/1000)"></div>
      </a>
    </div>
    <div class="col-lg-6">
      <div class="flex-center-center">
        <div class="content">
          <h2>Dress it up</h2>
          <h6>Garnish &amp; Serving Ideas</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, libero ipsa quidem accusantium reiciendis aliquid eius odio repudiandae aspernatur earum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Cocktails?</h5>
        <h6>How to use these cocktails as abv bubbly modifiers</h6>
      </div>
    </div>
    <div class="row">
      {% for i in (1..3) %}
        <div class="col-12 col-lg-4">
          <p class="font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, veniam?</p>
        </div>
        
      {% endfor %}
    </div>
  </div>
</section>
<div class="bg-image aspect-3x1" style="background-image: url(https://picsum.photos/1800/800)"></div>