---
layout: splash
---
<div class="container-fluid">
  <div class="bg-hero" style="background-image:url(/assets/img/header-image.png);">
    <div class="row justify-content-center">
      <div class="col-4 text-center d-flex">
        <img class="m-auto img-fluid" src="/assets/img/heirloom-logo-hero.png" alt="{{ site.title }}"/>
      </div>      
    </div>
  </div>

  <div class="row bg-dark">
    <div class="col-12">
      <div class="content text-center bg-spirits">
          <h4>August 2018</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="products d-flex flex-wrap text-center">
      <div class="w-50 bg-pineapple-amaro">
        <div class="product">
          <img class="bottle" src="/assets/img/pineapple-bottle.png" alt="Pineapple Amaro"/>
        </div>
      </div>
  
      <div class="w-50 bg-genepy">
        <div class="product">
          <img class="bottle" src="/assets/img/genepy-bottle.png" alt="Genepy"/>
        </div>
      </div>
  
      <div class="w-50 bg-creme-de-flora">
        <div class="product">
          <img class="bottle" src="/assets/img/flora-bottle.png" alt="Creme de Flora"/>
        </div>
      </div>
  
      <div class="w-50 bg-alchermes">
        <div class="product">
          <img class="bottle" src="/assets/img/alchermes-bottle.png" alt="Alchermes"/>
        </div>
      </div>
    </div>      
  </div>

  <footer class="page-footer">
    <div class="row bg-dark">
      <div class="col-12 d-flex justify-content-center">
        <div class="py-5">
          <div class="content text-center">
            <a href="{{ site.instagram_url }}" title="@heirloomliqueurs">
              <span class="rift">@heirloomliqueurs</span><br>
              <h5>Instagram</h5>
            </a>
    
            <img class="img-fluid" src="/assets/img/heirloom-wordmark-footer.png" alt="{{ site.title }}"/><br>
    
            <a href="mailto:{{ site.email }}" title="{{ site.email }}">
              <span class="rift">{{ site.email }}</span><br>
              <h5>Inquiries</h5>
            </a>  
          </div>
        </div>      
      </div>
    </div>
    <div class="row slide">
      <div class="col-12 bg-scalloped"></div>
      <div class="col-12 d-flex justify-content-center bg-light">
        <div class="py-5">
          <div class="content text-center">
            <a href="{{ site.instagram_url }}" title="@heirloomliqueurs">
              <span class="rift">@heirloomliqueurs</span><br>
              <h5>Instagram</h5>
            </a>
    
            <img class="img-fluid" src="/assets/img/heirloom-wordmark-footer.png" alt="{{ site.title }}"/><br>
    
            <a href="mailto:{{ site.email }}" title="{{ site.email }}">
              <span class="rift">{{ site.email }}</span><br>
              <h5>Inquiries</h5>
            </a>  
          </div>
        </div>      
      </div>
    </div>
  </footer>  
</div>
