---
layout: splash
---
<div class="container">
  <div class="row bg-hero" style="background-image:url(/assets/img/header-image.png);">
    <div class="col-12">
      <div class="content text-center">
        <img class="mx-auto p-5" src="/assets/img/heirloom-logo-hero.png" alt="{{ site.title }}"/>
      </div>
    </div>
  </div>

  <div class="row bg-alchermes">
    <div class="col-12">
      <div class="content text-center">
          <img src="/assets/img/spirits-enlivened.png" alt="{{ site.title }}"/><br>
          <span>August 2018</span>    
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex flex-wrap text-center">
      <div class="w-50 p-4 bg-pineapple-amaro">
        <img src="/assets/img/pineapple.png" alt="Pineapple Amaro"/>
      </div>
  
      <div class="w-50 p-4 bg-genepy">
        <img src="/assets/img/genepy.png" alt="Genepy"/>
      </div>
  
      <div class="w-50 p-4 bg-creme-de-flora">
        <img src="/assets/img/flora.png" alt="Creme de Flora"/>
      </div>
  
      <div class="w-50 p-4 bg-alchermes">
        <img src="/assets/img/alchermes.png" alt="Alchermes"/>
      </div>
    </div>      
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="content text-center">
        <a href="{{ site.instagram_url }}" title="@heirloomliqueurs">
          <span>@heirloomliqueurs</span><br>
          <span>Instagram</span>
        </a>

        <img class="img-fluid" src="/assets/img/heirloom-wordmark-footer.png" alt="{{ site.title }}"/>

        <a href="mailto:{{ site.email }}" title="{{ site.email }}">
          <span>{{ site.email }}</span><br>
          <span>Inquiries</span>
        </a>  
      </div>
    </div>
  </div>
</div>
