---
layout: default
---
{% case page.product_type %}
{% when 'liqueur' %}
  <section id="product-description">
    <div class="container">
      <div class="row">
        <div class="col-md-5 order-1 order-md-2">
          <div class="bg-image aspect-5x7" style="background-image: url('{{ page.images.product_image | default: site.placeholders.product_image }}')">
          </div>
        </div>
        <div class="col-md-7 order-2 order-md-1">
          <h1>{{ page.title }}</h1>
          {% contentblock product_full_description %}
        
          {% if page.accel_pay.variants.first.bclistingid %}
            <div>
              {% for variant in page.accel_pay.variants %}
                {% include accel_pay_add_to_cart.html bclistingid=variant.bclistingid bcvariantid=variant.bcvariantid label=variant.label %}
              {% endfor %}
            </div>
          {% endif %}
  
          <a href="#product-fact" class="arrow-down"></a>
        </div>
      </div>
    </div>
  </section>
  <section id="product-fact" class="bg-dark product-fact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="lead">
            {% contentblock product_fact_large_text %}
          </div>
        </div>
        <div class="col-md-6">
          {% contentblock product_fact %}
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="bg-hero" style="background-image:url('{{ page.images.banner_image | default: site.placeholders.banner_image }}')">
    </div>
  </div>
  <section id="how-to-serve">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img src="{{ page.images.illustration_image }}" class="img-fluid" alt="{{ page.title }} Graphic">
        </div>
        <div class="col-md-6">
          <h2>How to Serve</h2>
          {% contentblock how_to_serve %}
        </div>
      </div>
    </div>
  </section>
  <section id="signature-cocktails" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3 class="mb-5">Signature Cocktails with {{ page.title }}</h3>
        </div>
      </div>
      <div class="__react-component" data-component="RecipeList" data-product="{{ page.title | slugify }}"></div>
    </div>
  </section>
{% when 'cocktail' %}
  <section class="cocktail-intro {% if page.intro_background %}bg-{{ page.intro_background | default: dark }}{% endif %}">
    <div class="container">
      <div class="row align-items-center {% if page.intro_text %}text-{{ page.intro_text | default: 'dark' }}{% endif %}">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <h5 class="{% if page.intro_text %}text-{{ page.intro_text | default: 'dark' }}{% endif %} font-weight-bold mb-4">{{ page.title }}</h5>
          {% contentblock product_full_description %}
          {% if page.accel_pay.variants.first.bclistingid %}
            <div class="mt-4">
              {% for variant in page.accel_pay.variants %}
                {% include accel_pay_add_to_cart.html bclistingid=variant.bclistingid bcvariantid=variant.bcvariantid label=variant.label buttoncolor=page.intro_text %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 ml-lg-auto mb-3 mb-lg-0">
          {% if page.images.rotation.first.image %}
            <div class="rotator">
              {% for image in page.images.rotation %}
                <img src="{{ image.image }}" class="img-fluid" alt="product image">
              {% endfor %}
            </div>  
          {% else %}
          <img src="{{ page.images.product_image | default: site.placeholders.product_image }}" class="img-fluid" alt="{{ page.title }} image" />
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="bg-khaki-lighter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="font-weight-bold">
            {% contentblock product_fact_large_text %}
          </div>
          
        </div>
        <div class="col-lg-6">
          <div>
            {% contentblock product_fact %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="row bg-white collection-row no-gutters">
      <div class="col-lg-6">
        <div class="bg-image aspect-1x1" style="background-image: url({{ page.images.grid_image }})"></div>
      </div>
      <div class="col-lg-6">
        <div class="flex-center-center">
          <div class="content">
            <h2 class="mb-0">Dress it up</h2>
            <h4 class="mt-0 text-khaki">Garnish &amp; Serving Ideas</h4>
            <div class="font-weight-bold mt-5">
              {% contentblock how_to_serve %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-khaki-lighter">
    <div class="container">
      <div class="row mb-3 mb-lg-5">
        <div class="col-12">
          <h5 class="font-weight-bold">Cocktails?</h5>
          <h4 class="mt-0 text-khaki">How to use these cocktails as abv bubbly modifiers</h4>
        </div>
      </div>
      <div class="row">
        {% for item in page.how_to_use %}
          <div class="col-12 col-lg-4">
            <div class="font-weight-bold">
              {{ item.description_html }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="bg-image aspect-3x1" style="background-image: url({{ page.footer_image }})"></div>
{% endcase %}