---
layout: default
---

<section id="recipe" class="pt-0">
  <div class="container">
    <div id="RecipeDetail" class="__react-app"></div>

    <!-- <div class="row align-items-center">
      <div class="col-md-6">
        <div class="bg-image aspect-1x1" style="background-image: url('https://via.placeholder.com/768x768?text=Recipe+Image')"></div>
      </div>
      <div class="col-md-6">
        <div class="recipe-details">
          <h1>Stepladder</h1>
          <p class="mb-0"><span class="rift">Glass:</span> Glass Type</p>
          <p><span class="rift">Garnish:</span> Garnish copy Lorem ipsum dolor sit amet.</p>
          <div class="recipe-ingredients">
            <ul>
              <li>Ingredient</li>
              <li>Ingredient</li>
              <li>Ingredient</li>
              <li>Ingredient</li>
              <li>Ingredient</li>
            </ul>
          </div>
          <div class="recipe-instructions">
            <p>Recipe instructions lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate minus ipsum, consequatur modi magni accusamus vero quibusdam veniam inventore soluta?</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="bg-white">
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <h3 class="mb-5">You May Also Enjoy...</h3>
        </div>
      </div>
      {% include cocktails.html %}
  </div>
</section>