#page-content {
  overflow: hidden;
  background-color: $light;
  padding-top: 80px;
}


.homepage,
.cocktail,
.cocktails {
  #page-content {
    padding-top: 0;
  }
}

.recipes {
  #page-content {
    padding-top: 127px;
    @include media-breakpoint-down(sm) {
      padding-top: 75px;
    }
  }
}