#page-header {
  position: fixed;
  -webkit-backface-visibility:hidden; 
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  width: 100%;
  background-color: $genepy;
  z-index: 999;
  box-shadow: 0 0 5px rgba($black, 0.3);
  nav {
    @include transition(.5s);
  }
  .navbar-brand {
    img {
      width: 70px;
    }
  }
  .nav-link {
    font-family: $headings-font-family;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $khaki;
    letter-spacing: 1px;
    padding: 0 20px;
    @include transition(.5s);
    &:hover, &.active {
      color: $dark;
    }
  }
}

.navbar-toggler {
  display: block;
  height: 45px;
  width: 45px;
  margin: 0;
  background-color: transparent;
  float: none;
  z-index: 1000;
  pointer-events: all;
  text-align: center;
  border: 0;
  margin-right: 25px;
  &:focus {
    outline: 0;
  }
  &.collapsed {
    .bar {
      &.close-one {
        transform: rotate(0);
        margin-top: 10px;
        margin-bottom: 0;
      }
      &.close-two {
        transform: rotate(0);
      }
      &.close-three {
        opacity: 1;
      }
    }
  }
  .bar {
    background: $gray-600;
    border-radius: 0;
    display: block;
    margin: 5px 0;
    width: 20px;
    height: 1px;
    @include transition(.5s);
    &.close-one {
      transform: rotate(-33deg);
      margin-top: 10px;
      margin-bottom: -6px;
    }
    &.close-two {
      transform: rotate(33deg);
    }
    &.close-three {
      opacity: 0;
    }
  }
}

@media (max-width: $screen-md-max) {
  #page-header {
    padding: 0;
    .container {
      max-width: 100%;
    }
    .navbar-brand {
      padding: 15px 0;
      img {
        width: 50px;
      }
    }
    .nav-link {
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 200;
      text-transform: uppercase;
      color: $khaki;
      letter-spacing: 1px;
      padding: 20px;
      border-bottom: 1px solid $gray-600;
      &:hover, &.active {
        color: $gray-600;
      }
    }
    .nav-item {
      &:last-of-type {
        .nav-link {
          border-bottom: 0;
        }
      }
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  #primarynav {
    background-color: $dark;
    margin-left: -30px;
    margin-right: -30px;
    padding: 40px;
    text-align: center;
  }
  
}
