#page-footer {
  position: relative;
  background-color: $dark;
  padding: 10px 0 30px;
  margin-top: -10px;
  section {
    border-top: 2px solid $light;
  }
  i {
    font-size: 24px;
  }
  .termina {
    color: $gray-600;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
  }
}

.footer-logo {
  width: 300px;
}

.footer-email {
  font-size: 20px;
  font-weight: 600;
  color: $gray-600;
  font-family: $secondary-font;
  @include transition(.5s);
  text-decoration: none;
  letter-spacing: 1.5px;
  line-height: 1;
  &:hover {
    color: $light;
    text-decoration: none;
  }
}

.social {
  a {
    color: $khaki;
    font-family: $secondary-font;
    margin-right: 20px;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
}
