#page-content {
  overflow: hidden;
  background-color: $khaki-lighter;
  padding-top: 75px;
}

.homepage {
  #page-content {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
}

.recipes {
  #page-content {
    padding-top: 116px;
    @include media-breakpoint-down(sm) {
      padding-top: 75px;
    }
  }
}