.cog-form {
  .cog-form__container {
    max-width: 100% !important;
    .c-forms-heading {
      display: none;
    }
    .cog-label {
      @extend .sr-only;
      display: none !important;
    }
    .c-editor {
      padding-left: 0;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      padding: 15px !important;
      border: 0 !important;
      color: $gray-600 !important;
    }

    .c-validation {
      border-radius: 0;
      margin: 0 8px 0 0;
      padding: 3px 5px;
    }

    .c-forms-confirmation-message {
      padding: 30px !important;
      text-align: center;
      color: $gray-400 !important;
      background-color: $gray-600;
      font-size: 21px !important;
      font-family: $font-family-base;
      p {
        margin-bottom: 0;
      }
    }
    ::placeholder {
      font-family: $font-family-base !important;
    }
  }

  .el-button {
    border: 2px solid $khaki !important;
    color: $khaki !important;
    font-family: $headings-font-family !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    padding: 10px 20px !important;
    @include transition(.5s);
    letter-spacing: 1px !important;
    background-color: transparent !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    &:hover {
      color: $light !important;
      background-color: $khaki !important;
    }
  }
}

/* Set the preloader to be invisible by default */
.preloader {
  display: none;
}

/* Override the default invisibility if the preloader doesn't have a form after it. */
.preloader:last-child {
  display: flex;
  align-items: center;
}

/* Create a spinning animation and name it "spin" */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

/* 
  Apply "spin" animation to the image inside the preloader.
   -  animation-duration is set to "3s" and so each 
      rotation will last 3 seconds.
   -  animation-timing-function is set to "linear" 
      and so the speed of rotation is constant.
   -  animation-iteration-count is set to "infinite"
      which means what it says.
*/
.preloader img {
  display: block;
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
