.homepage {
  .btn-shop {
    border-color: $khaki-lighter;
    color: $khaki-lighter;
    border-width: 2px;
    font-weight: 500;
    @include media-breakpoint-up(lg) {
      font-size: 1.6rem !important;
    }
  }
  #page-header {
    .container {
      @include media-breakpoint-up(lg) {
        max-width: 1400px;
      }
    }
  }
}