#product-description {
  padding-top: 50px;
  .bg-image {
    &.aspect-5x7 {
      padding-top: 175%;
    }
  }
  .arrow-down {
    margin: 20px 0;
  }
}

.product-fact {
  padding: 75px 0;
}

@media (min-width: $screen-lg-min) {
  #product-description {
    h1 {
      margin-top: 100px;
    }
    
  }

  .product-fact {
    padding: 175px 0;
  }
}

#dress-it-up {
  .bg-image {
    @include media-breakpoint-down(sm) {
      padding-top: 150%;
    }
  }
}

.bg-image {
  &.product-footer {
    @include media-breakpoint-down(sm){
      padding-top: 70%;
    }
  }
}
