.shop-row {
  h2 {
    font-size: 19px;
    margin-bottom: 20px;
  }
  .product-summary {
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 0;
  }
  .h6 {
    font-size: 13px;
    font-weight: 600;
  }
}