
%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Spacing
.content {
  @extend %clearfix;
  padding: 20px;
  position: relative;
}


// Color Utilities
.bg-genepy {
  background-color: $genepy;
  background-image: url('/assets/img/genepy.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55%;
}
.bg-pineapple-amaro {
  background-color: $pineapple-amaro;
  background-image: url('/assets/img/pineapple.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55%;
}
.bg-creme-de-flora {
  background-color: $creme-de-flora;
  background-image: url('/assets/img/flora.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55%;
}
.bg-alchermes {
  background-color: $alchermes;
  background-image: url('/assets/img/alchermes.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 55%;
}


.rift {
  font-family: $font-family-base;
  font-weight: 600;
  text-transform: uppercase;
}








