@charset 'utf-8';
@import "custom_settings";
@import "./node_modules/bootstrap/scss/bootstrap";

// // Required
// @import "./node_modules/scss/functions";
// @import "./node_modules/scss/variables";
// @import "./node_modules/scss/mixins";

// // Optional
// @import "./node_modules/scss/reboot";
// @import "./node_modules/scss/type";
// @import "./node_modules/scss/images";
// @import "./node_modules/scss/code";
// @import "./node_modules/scss/grid";

@import 'mixins';
@import 'utilities';
@import 'fonts';
@import 'animations';

//import base styles and typography
@import 'base/global';
@import 'base/typography';

//import layout specific styles
@import 'layout/page_header';
@import 'layout/page_content';
@import 'layout/page_footer';

//import element styles
@import 'elements/hero';
@import 'elements/products';

//import view specific styles
@import 'views/home';


.wf-active {
  .bg-hero {
    img {
      opacity: 1;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .w-50 {
    width: 100% !important;
  }
  .bottle {
    transform: translateX(50%);
  }
}
