---
layout: default
_body_class: cocktails
title: cocktails
hero_image: /uploads/01-cocktails-hero.jpg
featured_products:
  - /products/pineapple-amaro
  - /products/genepy
  - /products/creme-de-flora
  - /products/alchermes
---
{% if page.hero_image %}
  <div class="bg-hero" style="background-image:url({{ page.hero_image }});"></div>
{% endif %}  
 

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable font-weight-bold">
          <p>Heirloom Cocktails bolster the flavors of each liqueur
            to create balanced, complex beverages. </p>
        </div>
        
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <p>While journalists and cocktail historians may not agree on where
            and by whom the cocktail was first created, not many would
            argue against its importance. The Collins epitomizes the
            refreshing cocktail, and is light enough to be enjoyed with lunch
            (or brunch), but still punchy enough to hold up after dinner. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  {% for object in page.featured_products %}
    {% assign object_slug = object | remove: '/products/' %}
    {% assign product =  site.products | where: 'slug', object_slug | first %}
    <div class="row collection-row no-gutters">
      <div class="col-lg-6 {% cycle '', 'order-1 order-lg-2' %}">
        <a href="{{ product.url }}">
          <div class="bg-image aspect-1x1" style="background-image: url('{{ product.images.grid_image }}')"></div>
        </a>
      </div>
      <div class="col-lg-6 {% cycle '', 'order-2 order-lg-1' %}">
        <div class="flex-center-center">
          <div class="content">
            <h2>{{ product.title }}</h2>
            <p>{{ product.product_description }}</p>
            <a href="{{ product.url }}" class="btn">Learn More</a>  
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
