---
layout: default
_body_class: cocktails
title: cocktails
hero_image: /uploads/01-cocktails-hero.jpg
products:
  - /products/creme-de-flora-collins
  - /products/alchermes-spritz
---

{% if page.hero_image %}
  <div class="bg-hero" style="background-image:url({{ page.hero_image }});"></div>
{% endif %}  
 

<section class="bg-khaki-lighter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable font-weight-bold">
          <p>Heirloom Cocktails bolster the flavors of each liqueur
            to create balanced, complex beverages. </p>
        </div>
        
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <p>While journalists and cocktail historians may not agree on where
            and by whom the cocktail was first created, not many would
            argue against its importance. The Collins epitomizes the
            refreshing cocktail, and is light enough to be enjoyed with lunch
            (or brunch), but still punchy enough to hold up after dinner. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  {% for object in page.products %}
    {% assign object_slug = object | remove: '/products/' %}
    {% assign cocktail =  site.products | where: 'slug', object_slug | first %}
    <div class="row collection-row bg-white no-gutters">
      <div class="col-lg-6 {% cycle '', 'order-1 order-lg-2' %}">
        <a href="{{ cocktail.url }}">
          <div class="bg-image aspect-1x1" style="background-image: url('{{ cocktail.grid_image }}')"></div>
        </a>
      </div>
      <div class="col-lg-6 {% cycle '', 'order-2 order-lg-1' %}">
        <div class="flex-center-center">
          <div class="content">
            <h2 class="text-dark mb-0">{{ cocktail.title }}</h2>
            <h4 class="mt-0 text-khaki editable">Ready-to-Drink &middot; Serve Chilled</h4>
            <p>{{ cocktail.product_description }}</p>
            <div class="d-flex align-items-center flex-wrap">
              <a href="{{ cocktail.url }}" class="btn btn-shop my-0 mr-4 mb-3">Learn More</a>  
              {% if cocktail.accel_pay.variants.first.bclistingid %}
                {% for variant in cocktail.accel_pay.variants %}
                  {% include accel_pay_add_to_cart.html bclistingid=variant.bclistingid bcvariantid=variant.bcvariantid label=variant.label %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
