---
layout: page
title: Heirloom Liqueurs
featured_products:
  - /products/pineapple-amaro
  - /products/genepy
  - /products/creme-de-flora
  - /products/alchermes
---

<div class="container-fluid">
  <div class="bg-hero hero-border" style="background-image:url(/assets/img/header-image.png);">
    <div class="row justify-content-center m-0">
      <div class="col-6 col-sm-5 col-md-4 text-center d-flex">
        <img class="m-auto img-fluid" src="/assets/img/heirloom-logo-hero.png" alt="{{ site.title }}" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="products d-flex flex-wrap text-center">
      {% for product in site.products reversed %}
        <div class="w-50 bg-{{ product.slug }}">
          <a href="{{ product.url }}">
            <div class="product">
              <img class="bottle" src="{{ product.images.product_image }}" alt="{{ product.title }} image" />
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="bg-hero" style="background-image:url('/assets/img/Heirloom-277.jpg')">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="content text-center">
          <img src="/assets/img/spirits-enlivened-2.png" class="img-fluid" alt="Spirits Enlivened Image" />
        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lead">
          <div class="editable">
            <p>Heirloom Brand was started with one goal in mind: to create vibrant liqueurs with whole botanicals.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="editable">
          <p>All Heirloom Liqueurs begin with a maceration of whole botanicals in high proof distillate. The botanicals come from all parts of the world and absolutely no extracts or artificial flavorings are used.</p>
          <p>Once the intensity of flavor has reached its peak, the solid matter is strained and each maceration is finished with some combination of sugar, water and/or juice. They are then rested until all the flavors have married, creating a harmonious liquid, an Heirloom Liqueur.</p>
        </div>
        <a href="/about" class="btn">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section id="merchandise" class="bg-white text-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-4 lead editable text-center">Merchandise
        {% include buynow.html %}
      </p></div>
    </div>
  </div>
</section>
