---
layout: default
title: Recipes
---
<section id="recipes-intro" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lead">
          <div class="editable">
            <p>
              The cocktail was defined in 1806 as containing "spirit, sugar, water and bitters." By the 1860s, cocktails had evolved to use liqueurs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="editable">
          <p>There are few things as serene as an expertly balanced cocktail. We are proud to showcase this collection of recipes for a myriad of libations. Start with a signature Heirloom Session Highball, Spritz or Royale or dig into recipes focused on individual liqueurs below.</p>
        </div>
      </div>
    </div>
    <hr class="my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="editable">
          <img src="{{ site.placeholders.thumbnail_image }}" alt="Heirloom Session Highball" class="img-fluid mb-4 d-none">
          <h5 class="termina">Heirloom Session Highball</h5>
          <p>1 ½ oz liqueur to 4 ½ oz Seltzer or 1:3 parts</p>
          <p>
            <span class="rift">Glass:</span> Collins<br>
            <span class="rift">Garnish:</span> Dictated by the liqueur.Pineapple Amaro - lime wedge, Alchermes - lemon wedge, Creme de Flora - grapefruit half wheel, Genepy - orange half wheel<br>
            <span class="rift">Instructions:</span> Measure into chilled glass. Add ice. Garnish.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="editable">
          <img src="{{ site.placeholders.thumbnail_image }}" alt="Heirloom Royal" class="img-fluid mb-4 d-none">
          <h5 class="termina">Heirloom Royale</h5>
          <p>½ oz liqueur to 3 oz Dry Sparkling Wine or 1:6 parts</p>
          <p>
            <span class="rift">Glass:</span> Small flute or coupe<br>
            <span class="rift">Garnish:</span> Citrus twist<br>
            <span class="rift">Instructions:</span> Measure into chilled glass. Garnish.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="editable">
          <img src="{{ site.placeholders.thumbnail_image }}" alt="Heirloom Spritz" class="img-fluid mb-4 d-none">
          <h5 class="termina">Heirloom Spritz</h5>
          <p>1 ½ oz Heirloom Liqueur, 1 ½ oz Seltzer, 3 oz Dry Sparkling Wine or 1:1:2 parts</p>
          <p>
            <span class="rift">Glass:</span> Wine glass<br>
            <span class="rift">Garnish:</span> Citrus peel<br>
            <span class="rift">Instructions:</span> Measure into chilled glass. Add ice. Garnish.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="recipenav" class="subnav">
  <div class="container">
    <nav class="nav nav-recipe">
      {% for product in site.products reversed%}
        <a href="#{{ product.slug }}">{{ product.title }}</a>
      {% endfor %}
    </nav>
  </div>
</div>

{% for product in site.products reversed %}
  <div id="{{ product.slug }}" class="container-fluid">
    <div class="bg-hero hero-short" style="background-image:url({{ product.images.recipe_banner_image | default: site.placeholders.banner_image }})">
      <div class="row justify-content-center align-items-center m-0">
        <div class="col text-center">
          <div class="editable">
            <h1>{{ product.title }}</h1>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="__react-app" data-component="RecipeList" data-product="{{ product.title | slugify }}"></div>
    </div>
  </section>
{% endfor %}