---
layout: default
title: Recipes
---
{% for product in site.products reversed %}
<div class="container-fluid">
  <div class="bg-hero hero-short" style="background-image:url('{{ product.images.recipe_banner | default: site.placeholders.banner_image }}');">
    <div class="row justify-content-center align-items-center m-0">
      <div class="col text-center">
        <h1>{{ product.title }}</h1>
      </div>      
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row recipe-grid">
      {% for i in (1..8) %}
      <div class="col-md-3 text-center">
        <a href="/single-recipe" class="recipe-card">
          <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/768x768?text=Recipe+Image)"></div>
          <p class="recipe-title">Recipe Title</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}