---
layout: page
title: Shop
product_collections:
  - label: Liqueurs
    show_detail_page_link: true
    products:
      - /products/pineapple-amaro
      - /products/genepy
      - /products/creme-de-flora
      - /products/alchermes
  - label: Cocktails
    show_detail_page_link: true
    products:
      - /products/creme-de-flora-collins
      - /products/alchermes-spritz
  - label: Merchandise
    show_detail_page_link: false
    products:
      - /products/five-panel-cotton-twill-hat
      - /products/set-of-four-tasting-glasses
published: true
---

<section>
  <div class="container">
    {% for item in page.product_collections %}
    <div class="row">
      <div class="col-12">
        <h1 class="text-gray-800">{{ item.label }}</h1>
      </div>
    </div>
    <div class="row shop-row">
        {% for object in item.products %}
        {% assign object_slug = object | remove: '/products/' %}
        {% assign product =  site.products | where: 'slug', object_slug | first %}
        <div class="col-lg-6 mb-5 animate fade-up">
          <div class="row">
            <div class="col-md-6 ">
              {% if item.label == 'Merchandise' %}
                <div class="bg-white">
                  <div class="bg-image aspect-5x7 bg-cover" style="background-image: url({{product.images.product_image}})"></div>
                </div>
              {% else %}
                <div class="bg-white animate fade-up py-3">
                  <div class="bg-image aspect-5x7 bg-contain" style="background-image: url({{product.images.product_image}})"></div>
                </div>
              {% endif %}
            </div>
            <div class="col-md-6">
              <div class="mt-3 mt-lg-0">
                <h2>{{product.title}}</h2>
                <p class="product-summary">{{ product.summary_textarea }}</p>
                <p class="rift font-weight-normal">{% if product.product_details %}{{ product.product_details}}{% endif %}</p>
                {% if item.show_detail_page_link %}
                <div class="mb-3">
                  <a href="{{ product.url }}" class="h6 text-uppercase arrow-right">More</a>
                </div>
                {% endif %}
                {% if product.accel_pay.variants.first.bclistingid %}
                  {% for variant in product.accel_pay.variants %}
                    {% include accel_pay_add_to_cart.html bclistingid=variant.bclistingid bcvariantid=variant.bcvariantid label=variant.label %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
